<span class="Stshow">
    <button cname="c" e="apivStock" style="display:none;" class="apivStock BTN_outerWrapper_5-72-0 BTN_gray_5-72-0" type="button">
      <span>暴力抢库</span>
    </button>
    <button cname="c" e="apivStockv2" style="display:none;" class="apivStockv2 BTN_outerWrapper_5-72-0 BTN_gray_5-72-0" type="button">
      <span>暴力<SUP>+1</SUP>抢库</span>
    </button>
    <button class="apivStockv3 BTN_outerWrapper_5-72-0 BTN_gray_5-72-0">
      <span>暴力<SUP>+100</SUP>抢库</span>
    </button>
    <br/>
    <label>
      时延(ms)<input type="text" name="shiyan" style="width: 45px;">-<input type="text" name="shiyan2" style="width: 45px;">
    </label>
    <label>
      <input type="checkbox" id="stip">声音提示
    </label>
    <br/>
    <label>
      <input type="checkbox" id="onlyClickSelected">只抢选中
    </label>
  </span>
  <button cname="c" class="oneKeyRejectNormalPrice BTN_outerWrapper_5-72-0 BTN_gray_5-72-0" type="button">
    <span>拒绝日常价调整</span>
  </button>
  <button cname="c" class="oneKeyRejectPrice BTN_outerWrapper_5-72-0 BTN_gray_5-72-0" type="button">
    <span>拒绝全部价调整</span>
  </button>
  <button cname="c" class="oneKeyCleanNote BTN_outerWrapper_5-72-0 BTN_gray_5-72-0" type="button">
    <span>清除通知</span>
  </button>